<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WindowsFormsApplicationTest.Properties.Settings.NotebookOutletConnectionString"
            connectionString="Data Source=ASPIRE-E15;Initial Catalog=NotebookOutlet;Persist Security Info=True;User ID=sa;Password=coconut"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>